/* no fancy scss, we be raw doggin css */

:root {
  --name-inner-edge-distance-from-page-edge: 359px;
  --distance-from-top: 82px;
}

body {
  position: relative;
  background-color: #00ff00;
  width: 1920px;
  height: 1080px;
  margin: 0;
  color: white;
}

.topbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin-top: var(--distance-from-top);
  font-style: normal;
}

.spacer {
  flex: 1;
}

.center {
  width: 868px;
}

.score-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 114px;
  border-radius: 20px;
}

.score {
  font-size: 75px;
  margin-top: -6px;
}

.score-bg1,
.player-name-bg1 {
  background-color: #ffb730;
}

.score-bg2,
.player-name-bg2 {
  background-color: #3083ff;
}

.player-wrapper1 {
  position: absolute;
  right: calc(1920px - var(--name-inner-edge-distance-from-page-edge));
  border-right: 10px solid white;
  align-items: flex-end;
}

.player-wrapper2 {
  position: absolute;
  left: calc(1920px - var(--name-inner-edge-distance-from-page-edge));
  border-left: 10px solid white;
  align-items: flex-start;
}

.player-wrapper1,
.player-wrapper2 {
  margin-top: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.player-name-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  padding: 0 42px;
}

.player-name-bg1 {
  border-radius: 20px 0 0 20px;
}

.player-name-bg2 {
  border-radius: 0 20px 20px 0;
}

.player {
  white-space: nowrap;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  margin-top: -8px;
  font-size: 40px;
}

.player-handle {
  margin-top: -4px;
}

.player-handle-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 42px;
  font-size: 20px;
}

.player-handle-bg1 {
  background-color: #db9920;
  border-bottom-left-radius: 12px;
}

.player-handle-bg2 {
  background-color: #205db7;
  border-bottom-right-radius: 12px;
}

.round,
.game-mode,
.damage {
  position: fixed;
  padding: 4px;
  top: 124px;
  font-size: 23px;
  font-family: 'Advent Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: white;
  background-color: #ff3030;
}

.round {
  left: 628px;
}
.game-mode {
  left: 780px;
}
.damage {
  left: 1120px;
}
