/* no fancy scss, we be raw doggin css */

:root {
  --desk-bottom-bar-height: 286px;
}

body {
  position: relative;
  background-color: #00ff00;
  width: 1920px;
  height: 1080px;
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: 'kaneda-gothic', sans-serif;
}

.topbar {
  top: 179px;
}

.desk-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--desk-bottom-bar-height);
  justify-content: center;
  align-items: center;
}

#sponsor-marquee,
#last-match,
#interview {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: opacity 600ms ease;
}

#last-match.visible,
#interview.visible {
  display: flex;
  visibility: visible;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

#sponsor-marquee.visible {
  visibility: visible;
  opacity: 1;
}

.interview-label {
  margin-left: 12px;
  margin-right: 12px;
}

#interview {
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.interviewee-wrapper {
  border: 3px solid white;
  border-radius: 8px;
}

#interviewee {
  text-transform: uppercase;
  font-size: 58px;
  font-weight: bold;
  padding-left: 14px;
  padding-right: 14px;
}

#interviewee.kana {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-top: -6px;
  padding: 0 11px;
}

.hidden.hidden {
  visibility: hidden;
}
