#sponsors {
  position: absolute;
  left: var(--left, 0px);
  bottom: var(--bottom, 84px);
  transform: translateY(50%); /* keeps logo *centers* at --bottom */
  display: flex;
  align-items: center;
  gap: var(--gap, 72px);
  z-index: 10;
  width: var(--width, 1920px);
  /* pass clicks through */
  pointer-events: none;
}

/* All logos */
#sponsors img {
  height: var(--logo-h, 84px);
  object-fit: contain;
  flex: 0 0 auto;
}

#sponsors .logo-red-tokyo {
  height: calc(var(--logo-h, 84px) * 1.4);
  margin-top: 34px;
}

.sponsor-left-logos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap, 72px);
}

.sponsor-right-container {
  display: flex;
  justify-content: center;
}

/* The rotating right-side logo */
img#sponsor-right {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

#sponsors .logo-reject {
  height: calc(var(--logo-h, 84px) * 0.83);
}

#sponsors .logo-spicescode {
  height: calc(var(--logo-h, 84px) * 0.8);
}

#sponsors .logo-geoguessr {
  height: calc(var(--logo-h, 84px) * 0.75);
}

#sponsors .logo-geoguessr-record {
  height: calc(var(--logo-h, 84px) * 0.5);
}

#sponsors .logo-alto {
  height: calc(var(--logo-h, 84px) * 0.8);
}

#sponsors .logo-birdhouse {
  height: calc(var(--logo-h, 84px) * 0.85);
}
